root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.cpp]
indent_style = space
indent_size = 2

[*.h]
indent_style = space
indent_size = 2

[*.hpp]
indent_style = space
indent_size = 2

[*.cmake]
indent_style = tab
indent_size = 4

[CMakeLists.txt]
indent_style = tab
indent_size = 4
