name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "**/README.md"
  pull_request:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "**/README.md"

jobs:
  macos-build:
    name: macOS Build
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Restore Cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/vcpkg/archives
          key: vcpkg-${{ runner.os }}

      - name: Setup Ninja
        run: |
          brew install ninja

      - name: Build
        run: |
          cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_C_COMPILER=/usr/bin/clang -DCMAKE_CXX_COMPILER=/usr/bin/clang++ -S. -Bbuild -G Ninja
          cmake --build build --config Debug --target all

      - name: Test
        working-directory: build
        run: |
          ctest -C Debug -T test --output-on-failure

  windows-build:
    name: Windows Build
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Restore Cache
        uses: actions/cache@v2
        with:
          path: ~/AppData/Local/vcpkg/archives
          key: vcpkg-${{ runner.os }}

      - name: Setup Ninja
        run: |
          choco install ninja

      - name: Build
        run: |
          . tools/Use-VC.ps1
          Use-VC
          cmake -DCMAKE_BUILD_TYPE=Debug -S. -Bbuild -G Ninja
          cmake --build build --config Debug --target all

      - name: Test
        working-directory: build
        run: |
          ctest -C Debug -T test --output-on-failure
